{% extends 'base.html' %}
{% load static %}
{% block  body %}
 <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
   </script>
<div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Shopping Cart</h2>
                        </div>

                        <form>
                            {% csrf_token %}
                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for product in cart %}
                                    <tr>
                                        <td class="cart_product_img">
                                            <a href="#"><img src="{{product.picture.url}}" alt="Product"></a>
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>{{product.name}}</h5>
                                        </td>
                                        <td class="price">
                                            <span>R{{product.price}}</span>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                <p>Qty</p>
                                                <div class="quantity">
                                                    <span class="qty-minus qty_sub" onclick="var effect = document.getElementById('{{product.pk}}_'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;" product_pk='{{product.pk}}'><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                    <input type="number" class="qty-text Qty" id="{{product.pk}}_" step="1" min="1" max="300" name="quantity" value="1" readonly>
                                                    <span class="qty-plus qty_add" onclick="var effect = document.getElementById('{{product.pk}}_'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"product_pk='{{product.pk}}'><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                    </div>
                    <div class="col-12 col-lg-4">
                        <form method='post'>
                        <div class="cart-summary">
                            <h5>Cart Total</h5>
                            <ul class="summary-table">
                                <li><span>total:</span> <span id='price' price='{{price}}'>R{{price}}</span></li>
                            </ul>
                            <div class="cart-btn">
                                <a  href ='/process_checkout/cashless/'class="btn amado-btn w-100">Pay Cashless</a>
                                <a href ='/process_checkout/cash/' class='btn amado-btn w-100'>Pay with Cash</a>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('.qty_sub').click(function(e){
                e.preventDefault();

                var opk = '{{pk}}'
                var pk = $(this).attr('product_pk');
               
                var qty = $('#'+pk+'_').val(); alert(qty);
                $.ajax({
                    type:'POST',
                    url:'/get_price/M/',
                    data:{
                        'qty':qty,//the new quantity  
                        'pk':pk,//the primary key of the product
                        'opk':opk,//the current price
                         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(data){
                        $('#price').text('R'+data.price)
                    }
                })
            });

             $('.qty_add').click(function(e){
                e.preventDefault()
                var opk ='{{pk}}'
                var pk = $(this).attr('product_pk');
                var qty = $('#'+pk+'_').val(); alert(qty);
                $.ajax({
                    type:'POST',
                    url:'/get_price/A/',
                    data:{
                        'qty':qty,//the new quantity  
                        'pk':pk,//the primary key of the product
                        'opk':opk,//this handles the current price
                         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(data){
                        $('#price').text('R'+data.price)
                    }
                })
            });
        </script>
        {% endblock %}