{% extends 'base.html' %}
{% block body%}
<div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Shopping Cart</h2>
                        </div>

                        <form>
                            {% csrf_token %}
                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    <tr>
                                       <td>YOU HAVE NOTHING IN CART!!!</td>
                                        <td>YOU HAVE NOTHING IN CART!!!</td>
                                         <td>YOU HAVE NOTHING IN CART!!!</td>
                                          <td>YOU HAVE NOTHING IN CART!!!</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </form>
                    </div>
                    <div class="col-12 col-lg-4">
                        <form method='post'>
                        <div class="cart-summary">
                            <h5>Cart Total</h5>
                            <ul class="summary-table">
                                <li><span>total:</span> <span id='price' price='{{price}}'>R0</span></li>
                            </ul>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}