{% extends 'base.html' %}
{% load static %}
{% block body %}
 <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
   </script>
<div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">
            	{% if favorites|length == 0 %}
            	<h1>No favorite products</h1>
            	{% else%}
            	{% for product in favorites %}
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/products/details/{{product.pk}}/">
                        <img src="{{product.picture.url}}" alt="Food Pic">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p style = 'color: white'>R{{product.price}}</p>
                            <h4 style = 'color:white'>{{product.name}}</h4>
                            <form method = 'post'>
                            <input type="image" class='remove_cart' style='visibility: hidden;' src="{% static 'img/remove_cart.png' %}" alt="remove" data-toggle="tooltip" data-placement="left" title="Remove from Cart" cart-data='{{product.pk}}' id='{{product.pk}}R'/>
                        </form>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {%endif%}
            </div>
        </div>
        <script>
        $('.remove_fave').click(function(e){
                       
                        var pk = $(this).attr('cart-data')
                        $.ajax({
                            type:'POST',
                            url:'/remove_favorite/',
                            data:{
                                'pk':pk,
                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                            },
                            success:function(data){
                            //$('#'+pk+'RF').css('visibility','hidden');
                            //$('#'+pk+'AF').css('visibility', 'visible');
                           alert('successfully removed from favorites')
                            
                        },
                        error:function(data){
                            alert('GO CHECK THE CODE!')
                        },
                        })
                    });
        </script>
        <!-- Product Catagories Area End -->
    {% endblock %}
