  {% extends 'base.html' %}
{% load static %}

{% block body %}
 <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="checkout_details_area mt-50 clearfix">
                                <h2>Login</h2>
                            </div>
                            <form action="/login/" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    {% if form.errors %}
                                     <ol>
                                    <li><strong>Username or Password is incorrect</strong></li>
                                    </ol>
                                    {% endif %}
                                    <div class="col-md-12 mb-3">
                                        
                                        <input type="text" class="form-control" id="{{ form.username.id_for_label}}" name='{{ form.username.html_name }}' placeholder="Username" required>
                                    </div>
                                        <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name='{{ form.password.html_name }}' placeholder="password" required>
                                    </div>                           
                                </div>
                                <button class='btn amado-btn'>Login</button>
                            </form>
                            <a href="/register/" class="btn amado-btn mb-15">Don't have an account?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}
