 {% extends 'base.html' %}
 {% load static %}
 {% block body%}
 <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
   </script>
 <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/products/{{product.category}}/">{{product.category}}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                               <!--
                                <ol class="carousel-indicators">
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({{product.picture.url}});">
                                    </li>
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({{product.picture.url}});">
                                    </li>
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({{product.picture.url}});">
                                    </li>
                                </ol> -->

                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="{{product.picture.url}}">
                                            <img class="d-block w-100" src="{{product.picture.url}}" alt="First slide">
                                        </a>
                                    </div>
                                    <!--
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="img/product-img/pro-big-2.jpg">
                                            <img class="d-block w-100" src="img/product-img/pro-big-2.jpg" alt="Second slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="img/product-img/pro-big-3.jpg">
                                            <img class="d-block w-100" src="img/product-img/pro-big-3.jpg" alt="Third slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="img/product-img/pro-big-4.jpg">
                                            <img class="d-block w-100" src="img/product-img/pro-big-4.jpg" alt="Fourth slide">
                                        </a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">R{{product.price}}</p>
                                <a href="product-details.html">
                                    <h6>{{product.name}}</h6>
                                </a>
                                <!-- Ratings & Review -->
                                <!--
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between" data-toggle="tooltip" data-placement="left" title="Write a Review">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    
                                    <div class="review">
                                        <a href="#">Write A Review</a>
                                    </div>
                                </div>-->
                                <!-- Avaiable -->
                               
                            </div>

                            <div class="short_overview my-5">
                                <p>{{product.description}}</p>
                            </div>

                            <!-- Add to Cart Form -->
                            <form class="cart clearfix" method="post">
                                {% csrf_token %}
                                {% if product in cart%}
                                <button type="submit" name="removefromcart" value="5" class="btn amado-btn" id ='remove_from_cart'>Remove from cart</button>
                                {% else %}
                                <button type="submit" name="addtocart" value="5" class="btn amado-btn" id ='add_to_cart'>Add to cart</button>
                                {% endif %}
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <script>
           $('#add_to_cart').click(function(e){
                        var pk = '{{product.pk}}';
                        $.ajax({
                            type:'POST',
                            url:'/add_cart/',
                            data:{
                                'pk':pk,
                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                            },
                            success:function(data){
                           alert('successfully added to cart');
                           
                        },
                        error:function(data){
                            alert('GO CHECK THE CODE!')
                        },
                        })
                    });
                     $('#remove_from_cart').click(function(e){
                        var pk = '{{product.pk}}';
                        $.ajax({
                            type:'POST',
                            url:'/remove_cart/',
                            data:{
                                'pk':pk,
                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                            },
                            success:function(data){
                           alert('successfully removed from cart');
                            
                        },
                        error:function(data){
                            alert('GO CHECK THE CODE!')
                        },
                        })
                    });
                </script>
 {% endblock %}
