 {% extends 'base.html' %}
{% load static %}

{% block body %}
 <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="checkout_details_area mt-50 clearfix">
                                <h2>Register</h2>
                            </div>
                            <form action="/register/" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        {% if form.username.errors %}
                                     <ol>
                                    {% for error in form.username.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                    </ol>
                                    {% endif %}
                                        <input type="text" class="form-control" id="{{ form.username.id_for_label}}" name='{{ form.username.html_name }}' placeholder="Username" required>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                         {% if form.password1.errors %}
                                     <ol>
                                    {% for error in form.password1.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                    </ol>
                                    {% endif %}
                                        <input type="password" class="form-control" id="{{ form.password1.html_name }}" name='{{ form.password1.html_name }}' placeholder="password" required>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                         {% if form.password2.errors %}
                                     <ol>
                                    {% for error in form.password2.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                    </ol>
                                    {% endif %}
                                        <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name= '{{form.password2.html_name}}' placeholder="confirm password" required>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                         {% if form.first_name.errors %}
                                     <ol>
                                    {% for error in form.first_name.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                    </ol>
                                    {% endif %}
                                        <input type="text" class="form-control" id="{{form.first_name.id_for_label}}" name="{{form.first_name.html_name}}" placeholder="First Name" required>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                         {% if form.last_name.errors %}
                                     <ol>
                                    {% for error in form.last_name.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                    </ol>
                                    {% endif %}
                                        <input type="text" class="form-control" id="{{form.last_name.id_for_label}}" name="{{form.last_name.html_name}}" placeholder="Last Name" required>
                                    </div>
                                    <div class="col-12 mb-3">
                                         {% if form.email.errors %}
                                     <ol>
                                    {% for error in form.email.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                    </ol>
                                    {% endif %}
                                        <input type="email" class="form-control" id="{{form.email.id_for_label}}" placeholder="Email" name="{{form.email.html_name}}" required>
                                    </div>
                                    <!--
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control mb-3" id="street_address" placeholder="Address" value="">
                                    </div> -->
                                    
                                    <div class="col-md-12 mb-3">
                                         {% if form.phone_no.errors %}
                                     <ol>
                                    {% for error in form.phone_no.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                    </ol>
                                    {% endif %}
                                        <input type="text" class="form-control" id="{{form.phone_no.id_for_label}}" placeholder="Phone No" name ="{{form.phone_no.html_name}}"required>
                                    </div>                           
                                </div>
                                <button class='btn amado-btn'>Regiser</button>
                            </form>
                            <a href="/login/" class="btn amado-btn mb-15">Have an Account?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}
