{% extends 'base.html' %}
{% load static %}
{%block body %}

<div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">
            {% for result in results %}
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{{result.get_absolute_url}}">
                        <img src="{{ result.picture.url }}" alt="Food Pic">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>{{result.price}}</p>
                            <h4>{{result.name}}</h4>
                        </div>
                    </a>
                </div>
                {%endfor%}
            </div>
        </div>
        <!-- Product Catagories Area End -->
    {% endblock %}