{% extends 'base.html' %}
{% load static %}
{% block body %}
 <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
   </script>
        <div class="shop_sidebar_area">

            <!-- ##### Single Widget ##### -->
            <div class="widget catagory mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Catagories</h6>

                <!--  Catagories  -->
                <div class="catagories-menu">
                    <ul>
                        {% for cat in categories %}
                        {% if cat.pk == category_m.pk %}
                        <li class="active"><a href="/products/{{cat.name}}/">{{cat}}</a></li>
                        {% else %}
                        <li><a href="/products/{{cat.name}}/">{{cat.name}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- ##### Single Widget ##### -->
            <!--
            <div class="widget brands mb-50">
                Widget Title
                <h6 class="widget-title mb-30">Brands</h6>

                <div class="widget-desc">
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="amado">
                        <label class="form-check-label" for="amado">Amado</label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ikea">
                        <label class="form-check-label" for="ikea">Ikea</label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="furniture">
                        <label class="form-check-label" for="furniture">Furniture Inc</label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="factory">
                        <label class="form-check-label" for="factory">The factory</label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="artdeco">
                        <label class="form-check-label" for="artdeco">Artdeco</label>
                    </div>
                </div>
            </div>-->

            <!-- ##### Single Widget ##### -->
            <!--
            <div class="widget color mb-50">
                 Widget Title 
                <h6 class="widget-title mb-30">Color</h6>

                <div class="widget-desc">
                    <ul class="d-flex">
                        <li><a href="#" class="color1"></a></li>
                        <li><a href="#" class="color2"></a></li>
                        <li><a href="#" class="color3"></a></li>
                        <li><a href="#" class="color4"></a></li>
                        <li><a href="#" class="color5"></a></li>
                        <li><a href="#" class="color6"></a></li>
                        <li><a href="#" class="color7"></a></li>
                        <li><a href="#" class="color8"></a></li>
                    </ul>
                </div>
            </div>-->

            <!-- ##### Single Widget ##### -->
            <!--
            <div class="widget price mb-50">
                >
                <h6 class="widget-title mb-30">Price</h6>

                <div class="widget-desc">
                    <div class="slider-range">
                        <div data-min="10" data-max="1000" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="10" data-value-max="1000" data-label-result="">
                            <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                        </div>
                        <div class="range-price">$10 - $1000</div>
                    </div>
                </div>
                <button class='btn btn-primary'>Search</button>
            </div>
        -->
        </div>

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                            <!-- Total Products -->
                            <div class="total-products">
                                <p>Showing {{products.number}} of {{products.paginator.num_pages}}</p>
                                <!--
                                <div class="view d-flex">
                                    <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                </div>-->
                            </div>
                            <!-- Sorting -->
                            <div class="product-sorting d-flex">
                                <div class="sort-by-date d-flex align-items-center mr-15">
                                    <div class="dropdown">
                                     <button class='dropbtn'>Sort by:</button>
                                    <div class="dropdown-content">
                                    <ul>
                                    <li><a href='/products/{{category_m.name}}/cheapest/'>Cheapest</a></li>
                                    <li><a href='/products/{{category_m.name}}/newest/'>Newest</a></li>
                                    <li><a href='/products/{{category_m.name}}/most_popular/'>Most Popular</a></li>
                                    </ul>
                                    </div>
                                    </div>
                                </div>
                                <!--
                                <div class="view-product d-flex align-items-center">
                                    <p>View</p>
                                    <form action="#" method="get">
                                        <select name="select" id="viewProduct">
                                            <option value="value">12</option>
                                            <option value="value">24</option>
                                            <option value="value">48</option>
                                            <option value="value">96</option>
                                        </select>
                                    </form>
                                </div>
                            -->
                            </div>
                            <div class="row">
                    <div class="col-12">
                        <!-- Pagination -->
                        <nav aria-label="navigation">
                            <ul class="pagination justify-content-end mt-50">
{% if products.has_previous %}
<li class="page-item"><a class="page-link" href="?page=1">1</a></li>
{% if products.previous_page_number != 1 %}
<li  class ='page-item'><a class='page-link'href="?page={{ products.previous_page_number }}">prev</a> </li>
{% endif %}
{% endif %}
<li class="page-item active"><a class="page-link" href="?page={{products.number}}">{{products.number}}.</a></li>
{% if products.has_next %}
<li class='page-item'> <a class='page-link' href="?page={{ products.next_page_number }}">{{products.next_page_number}}</a></li>
{% if products.next_page_number != products.paginator.num_pages%}
<li class='page-item'><a class= 'page-link' href="?page={{ products.paginator.num_pages }}">{{products.paginator.num_pages}}</a></li>
{% endif %}
{% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>

                            
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Single Product Area -->
                    {% for product in products%}
                    {% if product in cart %}
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{product.picture.url}}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="img/product-img/product2.jpg" alt="alternate pic">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                {% if product not in favorites %}
                                <div class="product-meta-data">
                                    <form method = 'post'>
                                        {% csrf_token %}
                                    <div class="line"></div>
                                    <p class="product-price">R{{product.price}}</p>
                                    <a href="/products/details/{{product.pk}}/">
                                        <h6>{{product.name}}</h6>
                                    </a>
                                    
                                    <input type="image" class='add_fave' style='visibility: visible;' src="{% static 'img/core-img/favorites.png' %}" alt="remove" data-toggle="tooltip" data-placement="left" title="add to favorites" cart-data='{{product.pk}}' id='{{product.pk}}AF'/>
                                    <input type="image" class='remove_fave' style='visibility: hidden;' src="{% static 'img/remove.png' %}" alt="remove" data-toggle="tooltip" data-placement="left" title="remove from favorites" cart-data='{{product.pk}}' id='{{product.pk}}RF'/>
                                            </form>
                                </div>
                                {% else %}
                                <div class="product-meta-data">
                                    <form method = 'post'>
                                    <div class="line"></div>
                                    <p class="product-price">R{{product.price}}</p>
                                    <a href="/products/details/{{product.pk}}/">
                                        <h6>{{product.name}}</h6>
                                    </a>
                                    
                                    <input type="image" class='add_fave' style='visibility: hidden;' src="{% static 'img/core-img/favorites.png' %}" alt="remove" data-toggle="tooltip" data-placement="left" title="add to favorites" cart-data='{{product.pk}}' id='{{product.pk}}AF'/>
                                    <input type="image" class='remove_fave' style='visibility: visible;' src="{% static 'img/remove.png' %}" alt="remove" data-toggle="tooltip" data-placement="left" title="remove from favorites" cart-data='{{product.pk}}' id='{{product.pk}}RF'/>
                                          </form> 
                                </div>
                                 {% endif %}
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                <!--
                                    <div class="ratings" data-toggle="tooltip" data-placement="left" title="write a review">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>-->
                                    <div class="cart">
                                       <form method='post'>
                                        {% csrf_token %}

                                         <!--To add to the cart using ajax-->
                                        <input type="image" class='add_cart' src="{% static 'img/core-img/cart.png' %}"style='visibility: hidden;' alt="Submit Form" data-toggle="tooltip" data-placement="left" title="Add to Cart" cart-data='{{product.pk}}' id='{{product.pk}}A'/>

                                        <!-- To remove from the cart using ajax -->
                                         <input type="image" class='remove_cart'src="{% static 'img/remove_cart.png' %}" alt="remove" data-toggle="tooltip" data-placement="left" title="Remove from Cart" cart-data='{{product.pk}}' id='{{product.pk}}R'/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{product.picture.url}}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="img/product-img/product2.jpg" alt="alternate pic">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                {% if product not in favorites %}
                                
                                <div class="product-meta-data">
                                    <form method = 'post'>
                                    <div class="line"></div>
                                    <p class="product-price">R{{product.price}}</p>
                                    <a href="/products/details/{{product.pk}}/">
                                        <h6>{{product.name}}</h6>
                                    </a>
                                    {% csrf_token %}
                                    <input type="image" class='add_fave' style='visibility: visible;' src="{% static 'img/core-img/favorites.png' %}" alt="remove" data-toggle="tooltip" data-placement="left" title="add to favorites" cart-data='{{product.pk}}' id='{{product.pk}}AF'/>
                                    <input type="image" class='remove_fave' style='visibility: hidden;' src="{% static 'img/remove.png' %}" alt="remove" data-toggle="tooltip" data-placement="left" title="remove from favorites" cart-data='{{product.pk}}' id='{{product.pk}}RF'/>
                                      </form>      
                                </div>

                                {% else %}
                                <div class="product-meta-data">
                                    <form method = 'post'>
                                    <div class="line"></div>
                                    <p class="product-price">R{{product.price}}</p>
                                    <a href="/products/details/{{product.pk}}/">
                                        <h6>{{product.name}}</h6>
                                    </a>
                                    {%csrf_token %}
                                    <input type="image" class='add_fave' style='visibility: hidden;' src="{% static 'img/core-img/favorites.png' %}" alt="remove" data-toggle="tooltip" data-placement="left" title="add to favorites" cart-data='{{product.pk}}' id='{{product.pk}}AF'/>
                                    <input type="image" class='remove_fave' style='visibility: visible;' src="{% static 'img/remove.png' %}" alt="remove" data-toggle="tooltip" data-placement="left" title="remove from favorites" cart-data='{{product.pk}}' id='{{product.pk}}RF'/>
                                          </form>  
                                </div>
                                 {% endif %}
                                 <!-- Ratings & Cart -->

                                <div class="ratings-cart text-right" >
                                    <!--
                                    <div class="ratings" data-toggle="tooltip" data-placement="left" title="write a review">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>-->
                                    <div class="cart">
                                    <form method ='post'>
                                        {% csrf_token %}

                                        <!-- To add to the cart using ajax-->
                                        <input type="image" class='add_cart' src="{% static 'img/core-img/cart.png' %}" alt="Submit Form" data-toggle="tooltip" data-placement="left" title="Add to Cart" cart-data='{{product.pk}}' id='{{product.pk}}A'/>

                                        <!-- To remove from the cart using ajax -->
                                         <input type="image" class='remove_cart' style='visibility: hidden;' src="{% static 'img/remove_cart.png' %}" alt="remove" data-toggle="tooltip" data-placement="left" title="Remove from Cart" cart-data='{{product.pk}}' id='{{product.pk}}R'/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% endif %}
                    {% endfor %}

                   <script>
                    $('.add_cart').click(function(e){
                        e.preventDefault();
                        var pk = $(this).attr('cart-data')
                        $.ajax({
                            type:'POST',
                            url:'/add_cart/',
                            data:{
                                'pk':pk,
                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                            },
                            success:function(data){
                            $('#'+pk+'A').css('visibility','hidden');
                            $('#'+pk+'R').css('visibility', 'visible');
                           alert('successfully added to cart')
                           
                        },
                        error:function(data){
                            alert('GO CHECK THE CODE!')
                        },
                        })
                    });
                     $('.remove_cart').click(function(e){
                        e.preventDefault();
                        var pk = $(this).attr('cart-data')
                        $.ajax({
                            type:'POST',
                            url:'/remove_cart/',
                            data:{
                                'pk':pk,
                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                            },
                            success:function(data){
                            $('#'+pk+'R').css('visibility','hidden');
                            $('#'+pk+'A').css('visibility', 'visible');
                           alert('successfully removed from cart')
                            
                        },
                        error:function(data){
                            alert('GO CHECK THE CODE!')
                        },
                        })
                    });
                     $('.add_fave').click(function(e){
                        e.preventDefault();
                        var pk = $(this).attr('cart-data')
                        $.ajax({
                            type:'POST',
                            url:'/add_favorite/',
                            data:{
                                'pk':pk,
                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                            },
                            success:function(data){
                            $('#'+pk+'AF').css('visibility','hidden');
                            $('#'+pk+'RF').css('visibility', 'visible');
                           alert('successfully added to favorites')
                           
                        },
                        error:function(data){
                            alert('GO CHECK THE CODE!')
                        },
                        })
                    });
                     $('.remove_fave').click(function(e){
                        e.preventDefault();
                        var pk = $(this).attr('cart-data')
                        $.ajax({
                            type:'POST',
                            url:'/remove_favorite/',
                            data:{
                                'pk':pk,
                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                            },
                            success:function(data){
                            $('#'+pk+'RF').css('visibility','hidden');
                            $('#'+pk+'AF').css('visibility', 'visible');
                           alert('successfully removed from favorites')
                            
                        },
                        error:function(data){
                            alert('GO CHECK THE CODE!')
                        },
                        })
                    });
                   </script>

<style>
/* Style The Dropdown Button */
.dropbtn {
  background-color: #FFA500;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


</style>
                    

                  
               
            </div>
</div>
</div>

{% endblock %}